#header {
    position: fixed;
    width: 100vw;
    height: 5rem;
    top: 0px;
    left: 0px;
}

#body {
    position: fixed;
    width: 100vw;
    height: calc(100vh - 5rem);
    top: 5rem;
    left: 0px;
    overflow-y: auto;
}